.projects {
    margin-top: 8rem;
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
    color: var(--white);
}

.projects .projects__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 9rem;
}

.projects .projects__content h2 {
    color: var(--primary-color);
}

.projects ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}

.projects ul li.projects__reversed-list {
    flex-direction: row-reverse;
}

.projects ul li:not(:last-of-type) {
    margin-bottom: 12rem;
}

.projects ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.projects ul li .image img:hover {
    transform: scale(1.01)
}

.projects ul li .projects__info {
    max-width: 47rem;
}

.projects ul li .projects__info p {
    margin: 1rem 0 4rem;
}

.projects ul li .projects__info a {
    font-weight: 500;
    text-decoration: underline;
}

.projects-more {
    margin-top: 12rem;
}

.hide {
    display: none;
}

.projects .see-more {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

@media only screen and (max-width: 768px) {
    .projects ul li,
    .projects ul li.projects__reversed-list {
        flex-direction: column;
    }

    .projects ul li .projects__info {
        max-width: 66rem;
    }

    .projects ul li .image img {
        min-width: auto;
    }
}