:root {
    --bcg-color: #1e2235;
    --white: #ffffff;
    --primary-color: #f54d5e;
    --dark-secondary-color: #aa3a45;
    --tertiary-color: #ff6388;
    --light-tertiary-color: #4b506e;
    --text-color: #343d48;

    --font-family: 'DM Sans', sans-serif;
}